.home-view {
  display: flex;
  flex-direction: column;
}

.home-header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: #f9f9f9;
}
.home-header-title {
  display: flex;
}
.home-header-info {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}
.profile-info,
.user-info {
  margin-right: 20px;
  font-size: 13px;
}
.profile-info span,
.user-info span {
  font-weight: 600;
}
.home-header-exit {
  cursor: pointer;
}
.home-header-exit:hover {
  color: #4c7dff;
}

.home-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  padding: 50px 0;
}
.home-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.home-write-post {
  display: flex;
  flex-direction: row;
  padding: 15px 20px;
  background: #f9f9f9;
  border-radius: 2px;
}
.home-write-post:hover {
  cursor: pointer;
  background: #cad9ff;
}
.add-icon {
  background: #4CAF50;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}

.home-posts-list {
  margin-top: 20px;
  padding: 0 40px;
}
.post-list-empty-text {
  margin-top: 20px;
  color: #ccc;
}
.post-item {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: #f9f9f9;
  border-radius: 2px;
  padding: 15px 20px;
}
.post-item:hover {
  background: #cad9ff;
  cursor: pointer;
}
.post-item-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}
.post-item-title {
  font-weight: 600;
}
.post-item-rating {

}
.post-item-text {
  margin-bottom: 15px;
}
.post-item-footer {
  display: flex;
  flex-direction: column;
}
.post-info,
.post-tags-list
{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.tag-item {
  display: flex;
  align-self: flex-start;
  padding: 2px 8px;
  border-radius: 24px;
  background: #eee;
  margin-left: 10px;
}
.post-item:hover > .post-item-footer > .post-tags-list > .tag-item {
  background: #eeeeee5c;
}
.post-item-created-at {
  color: #ccc;
  margin-right: 15px;
}
.post-item:hover > .post-item-footer > .post-info > .post-item-created-at {
  color: #aaa;
}
.post-item-author {

}

.draft-editor-wrapper {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #0000004b;
}
.draft-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: white;
  border-radius: 2px;
  padding: 15px 20px;
}
.draft-editor-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 20px;
}
.close-icon {
  background: #ccc;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}
.draft-editor-content {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.draft-editor-content label {
  display: flex;
}
.draft-editor-content input[name="title"],
.draft-editor-content input[name="tags"],
.draft-editor-textarea {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex: 1;
  margin-bottom: 20px;
  padding: 10px;
  background: #f9f9f9;
  color: #636b6f;
  border: none;
  border-radius: 2px;
  outline: none;
}
.draft-editor-content input[name="title"] {
  font-weight: 600;
}
.draft-editor-textarea {
  resize: none;
}
.draft-editor-content input[name="tags"],
.draft-editor-textarea {
  font-weight: 400;
}
.draft-editor-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px;
}
.draft-editor-save-draft-btn,
.draft-editor-save-post-btn {
  padding: 5px 10px;
  margin-left: 20px;
  background: transparent;
  border-radius: 2px;
  color: white;
  font-weight: unset;
  display: flex;
  align-self: center;
  cursor: pointer;
  border: none;
  outline: none;
}
.draft-editor-save-draft-btn {
  background: #90CAF9;
}
.draft-editor-save-post-btn {
  background: #81C784;
}
